.container_wrapper_menu {
  padding: 0 40px;
}

.wrapper_navbar {
  display: flex;
  justify-content: center;

  //   align-items: center;
}
.wrapper_search {
  margin-top: 15px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.wrapper_search_inputComponent {
  width: 45%;
  height: 45px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: 3px solid var(--primary);
}

.wrapper_button_search {
  border-radius: 6px;
  padding: 0 15px;
  border: 3px solid var(--primary);
  background: var(--primaryButton);
}
.wrapper_iconSearch {
  color: var(--primary);
}
// pagination
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.pagination .active {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}

// .pagination .next {
//   text-decoration: none;
//   background-color: red;
// }
.pagination {
  .previous a,
  .next a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
  }
}

//navbar
.active_navBar {
  background-color: var(--primary) !important;
  color: var(--white);
}
.wrapper_title_menu {
  margin-left: 5px;
}
.wrapper_navBar_item_title {
  padding: 4px 18px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;

  color: black;
}
.wrapper_navBar_item {
  padding: 4px 18px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;

  color: white;
  &:hover {
    cursor: pointer;
    background-color: rgb(227, 225, 225);
    color: rgb(45, 44, 44);
  }
}
