@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.mainAdmin {
    font-family: "Inter", sans-serif;
    background-color: $main-bg;
    color: $main-color;
    min-height: 100vh;
}

.mainAdminContainer {
    display: flex;
}

.menuAdminContainter {
    width: 10vw;
    padding: 5px 20px;
    border-right: 5px solid $soft-bg;
}

.contentAdminContainer {
    width: 90vw;
    padding: 5px 20px;
}
