.container_roomCard {
}

.wrapper_roomCard {
  // border: 2px solid var(--primary);
  height: 350px;
  border-radius: 15px;
  margin-bottom: 25px;
  position: relative;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
}

.wrapper_image {
  height: 70%;
}

.wrapper_image_room {
  width: 100%; /* Chiều rộng bằng khung cha */
  height: 100%; /* Chiều cao bằng khung cha */
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.wrapper_content {
  background-color: rgb(237, 235, 235);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.wrapper_title_room {
  display: flex;
  justify-content: space-between;
}
.type_room {
  padding: 4px 0 0 14px;
  font-size: 18px;
  font-weight: 500;
}
.wrapper_maxSeat {
  padding-top: 6px;
  padding-right: 14px;
  color: var(--primary);
  font-weight: 500;
}
.wrapper_seat {
  padding: 6px 14px 0 0;
  color: var(--primary);
}

.wrapper_building_floor {
}

.inforRoom {
  padding-left: 14px;
  color: rgb(91, 199, 14);
  font-weight: 500;
}

.wrapper_roomNumber {
}

.roomNumber {
  padding-left: 14px;
  font-weight: 500;
  color: var(--primary);
}
.wrapper_state {
  display: flex;
  justify-content: flex-end;
}
.wrapper_display_state {
  // margin: 0 14px 7px 0;
  // padding: 8px 25px;

  // border-radius: 13px;
  padding: 0 14px 10px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_description_title {
  font-weight: 500;
}

.state_room {
}
