.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99999;
}
.wrapper_container {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 400px;
  width: 420px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.wrapper_header {
  display: flex;

  justify-content: flex-end;
}
.wrapper_header_title {
  margin-right: auto;
  color: var(--primary);
}
.wrapper_header_close {
  cursor: pointer;
  color: var(--primary);

  font-weight: bold;
}
// .booking-form {
//   background: white;
//   padding: 20px;
//   border-radius: 10px;

// }

.booking-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background: #218838;
}

.reserved-times h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #d32f2f;
  padding-top: 5px;
}

.reserved-times ul {
  list-style: none;
  padding: 0;
}

.reserved-times li {
  background: #ffcdd2;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.wrapper_time_room {
  display: flex;
  justify-content: space-around;
}
.wrapper_currentSeat_roomDetail {
  color: green;
}
.wrapper_maxSeat_roomDetail {
  color: var(--primary);
}
.wrapper_join_room {
  background-color: rgb(167, 243, 54);
  border-radius: 4px;
  padding: 1px 6px;
  &:hover {
    cursor: pointer;
    background-color: rgb(125, 190, 28);
  }
}
// .wrapper_message_register {
//   top: 16px;
//   font-weight: 500;
//   position: fixed;
//   z-index: 99999;

//   padding: 10px 20px;
//   right: 16px;
//   border: 1px solid;
//   border-radius: 5px;
//   background-color: rgb(194, 32, 32);
// }

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

// .wrapper_message_register {
//   top: 16px;
//   font-weight: 500;
//   position: fixed;
//   z-index: 99999;
//   padding: 10px 20px;
//   right: 16px;
//   border: 1px solid;
//   border-radius: 5px;
//   background-color: rgb(228, 44, 44);
//   transform: translateX(100%);
//   opacity: 0;
//   color: white;
//   animation: slideIn 0.5s ease-out forwards;
// }
.wrapper_message_register {
  top: 16px;
  font-weight: 500;
  position: fixed;
  z-index: 99999;
  padding: 10px 20px;
  right: 16px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(228, 44, 44);
  transform: translateX(100%);
  opacity: 0;
  color: white;
  animation: slideIn 0.5s ease-out forwards, slideOut 0.5s ease-in forwards;
  animation-delay: 0s, 2s; /* delay slideOut sau 2s */
}

// join room\

.wrapper_joinRoom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.wrapper_joinRoom {
  position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 400px;
  height: 255px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 999999;
}

.wrapper_header_close_join {
  justify-self: flex-end;
  cursor: pointer;
  color: var(--primary);
}
.wrapper_joinRoom_title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary);
}

.wrapper_joinRoom_password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.wrapper_button_joinRoom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinRoom_button {
  width: 80%;
  padding: 10px;
  background: #28c84d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background: #34b850;
  }
}
