.wrapper_language {
  color: var(--primaryText);
}
.wrapper_located {
  color: var(--primaryText);
  font-weight: 500;
}
// .wrapper_navBar {
//   margin-left: 8px;
// }
.wrapper_logo {
  padding-right: 16px;
}
