.wrapper_top_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 950;
  /* background-color: #e31837; */
  background: var(--primary_background);
}

.wrapper_language {
  color: var(--primaryText);
}
.wrapper_located {
  color: var(--primaryText);
  font-weight: 500;
}
// .wrapper_navBar {
//   margin-left: 8px;
// }
.wrapper_logo {
  padding-right: 16px;
}
